.pagination {
    color: #555555;
    font-size: $font-size-l;
    @include md {
        font-size: 11px;
    }
    .page-item {
        text-align: center;
        border: 1px solid #555555;
        border-right: none;
        &:last-child {
            border-right: 1px solid #555555;
            background: #F2F2F2;
        }
    }
    .page-link {
        display: block;
        padding: 10px 12px;
        color: black;
        @include md {
            padding: $spacer-2;
        }
        &:hover {
            background:  black;
            color: white;
        }
    }
}