.products__nav {
    max-width: 1386px;
    width: 100%;
    margin: 0 auto;
    li {
        border: 1px solid #DCDCDC;
    }
    img {
        height: 48px;
        @include lg {
            height: 32px;
        }
        @include md {
            height: 14px;
        }
    }
    a {
        padding: 24px 0;
        position: relative;
        font-size: 42px;
        @include lg {
            padding: 16px 0;
            font-size: 28px;
        }
        @include md {
            padding: 8px 0;
            font-size: $font-size-s;
        }
        &::before {
            content: '';
            position: absolute;
            border-bottom: 16px solid $primary;
            width: 0;
            opacity: 0;
            bottom: 0;
            left: 0;
            transition: 0.5s;
            @include lg {
                border-bottom-width: 8px;
            }
            @include md {
                border-bottom-width: 4px;
            }
        }
        &:hover::before {
            width: 100%;
            transition: 0.5s;
            opacity: 1;
        }
    }
    .active > a::before {
        width: 100%;
        opacity: 1;
    }
}