.inner__banner {
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/qa.png");
    @include bg-cover;
    height: 304px;
    @include md {
        height: 143px;
    }
    &__title {
        @include md {
            font-size: 28px;
        }
    }
    &--icon {
        width: 40px;
        @include lg {
            width: 30px;
        }
        @include md {
            width: 16px;
        }
    }
}

.location {
    padding: 16px 0 304px 0;
    @include lg {
        padding: 8px 0 104px 0;
    }
    @include md {
        padding: 8px 0 56px 0;
    }
    &__label {
        white-space: nowrap;
    }
    &__select {
        color: #495057;
        border: 1px solid #CED4DA;
        font-size: $font-size-l;
        padding: 10px 19px;
        width: 324px;
        @include lg {
            font-size: $font-size-m;
            padding: $spacer-3 $spacer-4;
            width: 327px;
        }
        @include md {
            font-size: $font-size-s;
            padding: $spacer-2 $spacer-4;
            flex-grow: 1;
        }
    }
    .card {
        img {
            height: 224px; 
            @include lg {
                height: 164px; 
            }
        }
        a:hover {
            background: $primary;
        }
        .location__icon {
            width: 20px;
            height: auto;
        }
    }
    .card-title {
        border: 1px solid #00000020;
    }
    .card-body {
        padding: 16px 24px;
        @include lg {
            padding: 16px;
        }
    }
    &__map {
        height: 442px;
        @include lg {
            height: 465px;
        }
        @include md {
            height: 227px;
        }
    }
}